{% extends 'blog/base.html' %}
{% block content %}
<div  class="content container">
    <header id="header">
        <a href="#" class="image avatar"><img src="../static/img/new_img.jpg" alt="" /></a>
        <h1><strong>Sumon Kanti Dey</strong></h1>
          Department of Computer Science and Telecommunication Engineering<br>
          Noakhali Science and Technology University<br>
          mail:sumonkantidey23@gmail.com<br>
          Noakhali,Sadar<br>
          Zip-code: 3800<br>
          <a href="https://www.linkedin.com/in/sumon-kanti-dey-96321b10b/" class="fa fa-linkedin-square"></a>
          <a href="https://github.com/SumonKantiDey" class="fa fa-github-square"></a>
          <a href="https://www.facebook.com/sumon.dey23" class="fa fa-facebook-square"></a>
          <!-- <a href="https://twitter.com/sumonkantidey23" class="fa fa-twitter-square">
          </a> --> 
    </header> 
      
      
    <div id="main">
        <section id = "one">
            <p>Hello! Thanks for your interest and visiting my page</p>
            <p>I am an undergrad student at <a href="http://nstu.edu.bd/">Noakhali Science and Technology University</a> with major in <a href = " http://cste.nstu.edu.bd/">Computer Science and Telecommunication Engineering</a>.I am also an machine learning enthusiast also interested is natural language processing,deep learnig network and computer vision.My current research project sarcasm  detection in twitter text.</p>
            <p>I love to solve real life problem,to meet challenages through dedication,hard work and persiverence and want to dedicate myself to be an successful engineer so that my works do have an import impact in society</p>
            <p>I was used to solving problem in many online judge(UvaOJ,LightOJ,Codechef,Codeforces) and joined several onsite regional programming contest during my bachelor life.</p>
        </section>
      </div>
</div>  
{% endblock %}